html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.center {
  align-items: center;
  align-content: center;
}

.gap-10 {
  gap: 10px;
}

.white {
  color: white;
}

.se {
  justify-content: space-evenly;
}

.btn {
  border: none;
  background: #1e1e1e;
  cursor: pointer;
}

.btn:hover {
  background: #101010;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.blue {
  color: lightblue;
}
